---
title: Newsletter
layout: default
---
			
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				{% for newsletter in site.site.newsletters %}
  <h2>{{ newsletter.title }}</h2>
  <p>Performed by {{ album.artist }}{% if album.director %}, directed by {{ album.director }}{% endif %}</p>
  {% for work in album.works %}
    <h3>{{ work.title }}</h3>
    <p>Composed by {{ work.composer }}</p>
    <ul>
    {% for track in work.tracks %}
      <li>{{ track.title }} ({{ track.duration }})</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
		
			</div>
		</div>
	</section>			